@model List<Artikel>
<a class=" btn btn-primary"  asp-controller="ArtikelPost" asp-action="CreateEditArtikel">Hier kannst du ein Neues Artikel erzeugen</a>

<div class="text-center">
    <h1 class="display-4" clas>Alle Artikel</h1>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @{
        foreach (Artikel artikel in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@artikel.ArtikelName</h5>
                        <p class="card-text"> @artikel.Description.</p>
                    </div>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">@artikel.Preis Euro</li>

                    </ul>

                    <div class="card-footer">
                        <a asp-route-id="@artikel.id" asp-controller="ArtikelPost" asp-action="CreateEditArtikel" class="card-link btn btn-warning">Edit</a>
                        <a asp-route-id="@artikel.id" asp-controller="ArtikelPost" asp-action="DeleteArtikel" class="card-link btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

        }
    }

</div>
